---
interface Props {
  href: string;
  className?: string;
  variant?: "default" | "transparent" | "solid_white";
}

const { href, variant = "default", className = "" } = Astro.props;

const baseStyles =
  "px-4 py-2 font-[600] rounded-sm text-[1.15rem] border-[.15rem] text-center w-[180px] mt-4";

const variants = {
  default: "border-[var(--gold-color)] text-white bg-[var(--gold-color)]",
  transparent: "border-white  bg-transparent",
  solid_white: "border-white bg-white text-[var(--gold-color)]",
};

const elementClassname = `${variants[variant]} ${baseStyles}`;
---

<a class={`${elementClassname} ${className}`} href={href}><slot /></a>
